<div class="champion-base-stats">
    <span class="champion-base-stats-title">BASE STATS</span>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Hit Points</div>
        <div class="champion-base-stat">{{ champion_data.stats.hp }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Hit Points / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.hpperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Mana Points</div>
        <div class="champion-base-stat">{{ champion_data.stats.mp }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Mana Points / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.mpperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Movement Speed</div>
        <div class="champion-base-stat">{{ champion_data.stats.movespeed }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Armor</div>
        <div class="champion-base-stat">{{ champion_data.stats.armor }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Armor / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.armorperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Magic Resist</div>
        <div class="champion-base-stat">{{ champion_data.stats.spellblock }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Magic Resist / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.spellblockperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Attack Range</div>
        <div class="champion-base-stat">{{ champion_data.stats.attackrange }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Hit Points Regen</div>
        <div class="champion-base-stat">{{ champion_data.stats.hpregen }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Hit Points Regen / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.hpregenperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Mana Points Regen</div>
        <div class="champion-base-stat">{{ champion_data.stats.mpregen }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Mana Points Regen / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.mpregenperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Crit Chance</div>
        <div class="champion-base-stat">{{ champion_data.stats.crit }}%</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Crit Chance / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.critperlevel }}%</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Attack Damage</div>
        <div class="champion-base-stat">{{ champion_data.stats.attackdamage }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Attack Damage / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.attackdamageperlevel }}</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Attack Speed</div>
        <div class="champion-base-stat">{{ champion_data.stats.attackspeed }}/s</div>
    </div>
    <div class="champion-base-stat-flex">
        <div class="champion-base-stat">Attack Speed / Level</div>
        <div class="champion-base-stat">{{ champion_data.stats.attackspeedperlevel }}%</div>
    </div>
</div>