<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="League Census">
        <meta name="author" content="Mykel Agathos">
        <title>{{tab_title}}</title>
        <link rel="shortcut icon" href="{% static 'champion/images/favicon.ico' %}" type="image/x-icon"/>
        <link rel="icon" href="{% static 'champion/images/favicon.ico' %}" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,800&" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'champion/css/champion.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{% static 'champion/js/champion.js' %}"></script>
        <!-- start wrapper -->
        <div class="wrapper">
            <!-- start header -->
            {% block header %}
            <div class="header">
                <img class="header-img" src="{% static 'champion/images/league-char-logo.png' %}"  alt="header image"/>
                <div class="nav-bar">
                    <a class="nav-link" href="/champion">CHAMPIONS</a>
                    <a class="nav-link" href="#">SUMMONERS</a>
                    <a class="nav-link" href="#">ITEMS</a>
                    <a class="nav-link" href="#">E/SPORT</a>
                </div>
            </div>
            {% endblock %}
            <!-- end header -->

            <!-- start content -->
            {% block content %}
            {% endblock %}
            <!-- end content -->

            <!-- start footer -->
            {% block footer %}
            <div class="footer">
                <div class="sitemap">
                    <div class="sitemap-left">
                        <ul class="no-bullet">
                            <li><a href="/champion">CHAMPIONS</a></li>
                            <li><a href="#">SUMMONERS</a></li>
                            <li><a href="#">ITEMS</a></li>
                        </ul>
                    </div>
                    <div class="sitemap-center">
                        <ul class="no-bullet">
                            <li><a href="#">SERVER STATUS</a></li>
                            <li><a href="https://developer.riotgames.com/" target="_blank">RIOT API</a></li>
                            <li><a href="#">COOKIE POLICY</a></li>
                        </ul>
                    </div>
                    <div class="sitemap-right">
                        <ul class="no-bullet">
                            <li><a href="https://github.com/MThos/lolcensus" target="_blank">GITHUB</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="horizontal-line">
                <div class="bottom-footer">
                    Copyright &copy; {{year}}
                    <span class="dark-line">|</span>
                    All Rights Reserved
                    <span class="dark-line">|</span>
                    <a href="#">Terms of Service</a>
                    <span class="dark-line">|</span>
                    <a href="#">Privacy Policy</a>
                </div>
                <div class="riot-disclaimer">
                    League Census isn't endorsed by Riot Games and doesn't reflect the views
                    or opinions of Riot Games or anyone officially involved in producing
                    or managing League of Legends. League of Legends and Riot Games
                    are trademarks or registered trademarks of Riot Games, Inc.
                    League of Legends &copy Riot Games, Inc.
                </div>
            </div>
            {% endblock %}
            <!-- end footer -->
        </div>
        <!-- end wrapper -->
    </body>
</html>
