{% extends "champion/base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}
<div class="main-section">
    <!-- top start -->
    <div class="champion-top">
        <div class="champion-left">
            <img class="champion-img-large" src="{% static 'champion/ddragon/dragontail-10.2.1/img/champion/loading' %}/{{ champion_data.name }}_0.jpg" alt="{{ champion_data.name }}"/>
        </div>
        <div class="champion-right">
            <div class="patch">v{{ patch }}</div>
            <div class="champion-name">{{ champion_data.name }}</div>
            <div class="champion-title">'{{ champion_data.title }}'</div>
            <div class="champion-tags">
                {% for value in champion_data.tags %}
                    <div class="champion-tag">[{{ value }}]</div>
                {% endfor %}
            </div>
            <div class="champion-lore">"{{ champion_data.lore }}"</div>
        </div>
    </div>
    <!-- top end -->
    <!-- middle start -->
    <div class="champion-middle">
        <div class="champion-left">
            <div class="champion-bars">
                <span class="champion-bar-title">QUICK STATS</span>
                {% for key, value in champion_data.info.items %}
                    <div class="champion-bar">
                        <img class="champion-bar-icon" src="{% static 'champion/images/' %}{{ key }}.png" alt="{{ key|upper }}" title="{{ key|upper }}" />
                        <div class="progress champion-info-bar" title="{{ key|upper }}">
                            <div class="champion-{{ key }} progress-bar" title="{{ key|upper }}" style="width: {{ value|mul:10 }}%">
                                {{ value }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="champion-right">

        </div>
    </div>
    <!-- middle end -->
</div>
{% endblock %}
