{% extends "champion/base.html" %}
{% load static %}

{% block content %}
<div class="main-section">
    <div class="champion-top">
        <div class="champion-img-large">
            <img src="{% static 'champion/ddragon/dragontail-10.2.1/img/champion/loading' %}/{{ champion_data.name }}_0.jpg" alt="{{ champion_data.name }}"/>
        </div>
        <div class="champion-basics">
            <div class="champion-name">{{ champion_data.name }}</div>
            <div class="champion-title">'{{ champion_data.title }}'</div>
            <div class="champion-tags">
                {% for value in champion_data.tags %}
                    <div class="champion-tag">[{{ value }}]</div>
                {% endfor %}
            </div>
            <div class="champion-lore">{{ champion_data.lore }}</div>
        </div>
    </div>
</div>
{% endblock %}
