{% extends "champion/base.html" %}
{% load static %}

{% block content %}
<div class="main-section">
    <div class="champion-list">
        {% for name, image in champion_dict.items %}
            <div class="champion">
                <a href="/champion/{{ name }}" id="{{ name }}">
                    <img class="champion-list-img" src="{% static 'champion/ddragon/dragontail-10.2.1/10.2.1/img/champion' %}/{{ image }}" alt="{{ name }}"/>
                    <p class="champion-list-name">{{ name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
