{% extends "core/base.html" %}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}

{% block css %}
    <link href="{% static 'champion/css/champion.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'champion/js/champion.js' %}"></script>
{% endblock %}

{% block content %}
<div id="main-section">
    <!-- champion-container start -->
    <div id="champion-container">
        <!-- left side start -->
        <div id="champion-left">
            <img id="champion-img-large" src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/img/champion/loading/{{ champion_name }}_0.jpg" alt="{{ champion_name }}"/>
            <div id="champion-bars">
                <span class="champion-bar-title">QUICK STATS</span>
                {% for key, value in champion_data.info.items %}
                    <div class="champion-bar">
                        <img class="champion-bar-icon" src="{% static 'champion/images/' %}{{ key }}.png" alt="{{ key|upper }}" title="{{ key|upper }}" />
                        <div class="progress champion-info-bar" title="{{ key|upper }}">
                            <div class="champion-{{ key }} champion-progress-bar" title="{{ key|upper }}" style="width: {{ value|mul:10 }}%">
                                {{ value }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="champion-resource">
                <span class="champion-resource-title">RESOURCE</span>
                <div class="progress champion-resource-bar" title="{{ champion_data.partype }}">
                    <div class="champion-resource-progress-bar" title="{{ champion_data.partype }}" style="width: 100%; background: {{ resource_bg }}; color: {{ resource_color }}">
                        {{ champion_data.partype|upper }}
                    </div>
                </div>
            </div>
            <div id="champion-base-stats">
                <span class="champion-base-stats-title">BASE STATS</span>
                {% for key, value in stats.items %}
                    <div class="champion-base-stat-flex">
                        <div class="champion-base-stat gold">{{ key}}</div>
                        <div class="champion-base-stat">{{ value }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- left side end -->
        <!-- right side start -->
        <div id="champion-right">
            <div id="patch">v{{ patch }}</div>
            <div id="champion-name">{{ champion_data.name }}</div>
            <div id="champion-title">'{{ champion_data.title }}'</div>
            <div id="champion-tags">
                {% for value in champion_data.tags %}
                    <div class="champion-tag">[{{ value }}]</div>
                {% endfor %}
            </div>
            <div id="champion-lore">"{{ champion_data.lore }}"</div>
            <div id="champion-spells">
                <span class="champion-spells-title">ABILITIES AND PASSIVE</span>
                {% for key in champion_data.spells %}
                    <div class="champion-spell">
                        <div class="champion-spell-top">
                            <div class="champion-spell-key">
                                {% if forloop.counter == 1 %}
                                    Q
                                {% elif forloop.counter == 2 %}
                                    W
                                {% elif forloop.counter == 3 %}
                                    E
                                {% elif forloop.counter == 4 %}
                                    R
                                {% endif %}
                            </div>
                            <div class="champion-spell-name">
                                {% autoescape off %}
                                    {{ key.name|upper }}</div>
                                {% endautoescape %}
                        </div>
                        <div class="champion-spell-middle">
                            <div class="champion-spell-image">
                                <img src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/{{ patch }}/img/spell/{{ key.image.full }}" alt="{{ key.image.full }}"/>
                            </div>
                            <div class="champion-spell-desc">
                                {% autoescape off %}
                                    {{ key.description }}
                                {% endautoescape %}
                            </div>
                        </div>
                        <div class="champion-spell-bottom">
                            <div class="champion-spell-cooldown">Cooldown: {{ key.cooldown }}</div>
                            <div class="champion-spell-cost">Cost: {{ key.cost }}</div>
                            <div class="champion-spell-range">Range: {{ key.range }}</div>
                            <div class="champion-spell-range">Max Rank: {{ key.maxrank }}</div>
                        </div>
                    </div>
                {% endfor %}
                <div id="champion-passive">
                    <div class="champion-spell-top">
                        <div class="champion-spell-key">
                            PASSIVE
                        </div>
                        <div class="champion-spell-name">
                            {{ champion_data.passive.name|upper }}
                        </div>
                    </div>
                    <div class="champion-spell-middle">
                        <div class="champion-spell-image">
                            <img src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/{{ patch }}/img/passive/{{ champion_data.passive.image.full }}" alt="{{ champion_data.passive.image.full }}"/>
                        </div>
                        <div class="champion-spell-desc">
                            {% autoescape off %}
                                {{ champion_data.passive.description }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="champion-tips">
                <span class="champion-tips-title">BEGINNER TIPS</span>
                <div class="champion-tips-ally">
                    <div class="champion-tip-icon">
                        <img src="{% static 'core/images/checkmark.png' %}" alt="checkmark icon"/>
                    </div>
                    <span class="champion-tips-ally-title">TIPS FOR <span class="underline">PLAYING</span> {{ champion_name|upper }}</span>
                    {% for value in champion_data.allytips %}
                        <div class="champion-tip-ally">
                            <ul>
                                <li>{{ value }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="champion-tips-enemy">
                    <div class="champion-tip-icon">
                        <img src="{% static 'core/images/checkmark.png' %}" alt="checkmark icon"/>
                    </div>
                    <span class="champion-tips-enemy-title">TIPS FOR <span class="underline">FIGHTING</span> {{ champion_name|upper }}</span>
                    {% for value in champion_data.enemytips %}
                        <div class="champion-tip-enemy">
                            <ul>
                                <li>{{ value }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- right side end -->
    </div>
    <!-- champion-container end -->
</div>
{% endblock %}
