<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="EoCns1mG4VQ6bzBYUPLigBgIQMRBKU-8HqgYyOXxDKw">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ meta_desc }}">
        <meta name="author" content="Mykel Agathos">
        <title>{{ tab_title }}</title>
        <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}" type="image/x-icon"/>
        <link rel="icon" href="{% static 'core/images/favicon.ico' %}" type="image/x-icon"/>
        <link href="{% static 'core/css/core.css' %}" rel="stylesheet" type="text/css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <!-- start scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'core/js/core.js' %}"></script>
        {% block js %}
        {% endblock %}
        <!-- end scripts -->
        <!-- start wrapper -->
        <div id="wrapper">
            <!-- start header -->
            {% block header %}
            <div id="header">
                <img id="header-img" src="{% static 'core/images/league-char-logo-2.jpg' %}" alt="header image"/>
                <div class="nav-bar">
                    <a class="nav-link" href="#">RANKINGS</a>
                    <a class="nav-link" href="/champion">CHAMPIONS</a>
                    <a class="nav-link" href="/item">ITEMS</a>
                </div>
            </div>
            {% endblock %}
            <!-- end header -->

            <!-- start content -->
            {% block content %}
            {% endblock %}
            <!-- end content -->

            <!-- start footer -->
            {% block footer %}
            <div id="footer">
                <div id="sitemap">
                    <div id="sitemap-left">
                        <ul class="no-bullet">
                            <li><a href="#">RANKINGS</a></li>
                            <li><a href="/champion">CHAMPIONS</a></li>
                            <li><a href="/item">ITEMS</a></li>
                        </ul>
                    </div>
                    <div id="sitemap-center">
                        <ul class="no-bullet">
                            <li><a href="https://na.leagueoflegends.com" target="_blank">LEAGUE OF LEGENDS</a></li>
                            <li><a href="https://developer.riotgames.com/" target="_blank">RIOT API</a></li>
                            <li><a href="/cookies">COOKIE POLICY</a></li>
                        </ul>
                    </div>
                    <div id="sitemap-right">
                        <ul class="no-bullet">
                            <li><a href="https://github.com/MThos/lolcensus" target="_blank">GITHUB</a></li>
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="/contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="horizontal-line">
                <div id="footer-bottom">
                    Copyright &copy; {{year}}
                    <span class="dark-line">|</span>
                    All Rights Reserved
                    <span class="dark-line">|</span>
                    <a href="/terms">Terms of Service</a>
                    <span class="dark-line">|</span>
                    <a href="/privacy">Privacy Policy</a>
                </div>
                <div id="riot-disclaimer">
                    League Census isn't endorsed by Riot Games and doesn't reflect the views
                    or opinions of Riot Games or anyone officially involved in producing
                    or managing League of Legends. League of Legends and Riot Games
                    are trademarks of Riot Games, Inc.
                </div>
            </div>
            {% endblock %}
            <!-- end footer -->
        </div>
        <!-- end wrapper -->
    </body>
</html>
