{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div id="main-section">
    <div id="champion-list">
        {% for name, image in item_names_images.items %}
            <div class="champion">
                <a href="/champion/{{ name }}" id="{{ name }}">
                    <img class="champion-list-img" src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/{{ patch }}/img/item/{{ image }}" alt="{{ name }}"/>
                    <p class="champion-list-name">{{ name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
