{% extends "core/base.html" %}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}

{% block css %}
    <link href="{% static 'item/css/item.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'item/js/item.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="main-section">
        <!-- champion-container start -->
        <div id="item-container">
            <!-- left side start -->
            <div id="item-left">
                <img id="item-img-large" src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/{{ patch }}/img/item/{{ item_id }}.png" alt="{{ item_data.name }}"/>
                <div id="item-cost">
                    <span class="item-cost-title">ITEM COSTS</span>
                    {% for key, value in item_data.gold.items %}
                        {% if key != 'purchasable' %}
                            <div class="item-cost-flex">
                            <div class="item-cost gold">{{ key|upper }}</div>
                            <div class="item-cost">{{ value }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- left side end -->
            <!-- right side start -->
            <div id="item-right">
                <div id="patch">v{{ patch }}</div>
                <div id="item-name">{{ item_data.name }}</div>
                <div id="item-tags">
                    {% for value in item_data.tags %}
                        <div class="item-tag">[{{ value|space_after_capital }}]</div>
                    {% endfor %}
                </div>
                <div id="item-lore">"{{ item_data.lore }}"</div>
            </div>
            <!-- right side end -->
        </div>
        <!-- champion-container end -->
    </div>
{% endblock %}
