{% extends "core/base.html" %}
{% load static %}
{% load mathfilters %}
{% load custom_tags %}

{% block css %}
    <link href="{% static 'item/css/item.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'item/js/item.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="main-section">
        <!-- champion-container start -->
        <div id="item-container">
            <!-- left side start -->
            <div id="item-left">
                <img id="item-img-large" src="{% static 'core' %}/ddragon/dragontail-{{ patch }}/{{ patch }}/img/item/{{ item_id }}.png" alt="{{ item_data.name }}"/>
                <div id="item-cost">
                    <span class="item-cost-title">ITEM COSTS</span>
                    {% for key, value in item_data.gold.items %}
                        {% if key != 'purchasable' %}
                            <div class="item-cost-flex">
                                <div class="item-cost gold">{{ key|upper }}</div>
                                <div class="item-cost">{{ value }}g</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="item-maps">
                        <span class="item-maps-title">MAPS ALLOWED</span>
                        {% for value in map_data.mapName %}
                            <div class="item-maps-flex">
                                <div class="item-map">{{ value }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            <!-- left side end -->
            <!-- right side start -->
            <div id="item-right">
                <div id="patch">v{{ patch }}</div>
                <div id="item-name">{{ item_data.name|breakline_at_bracket|linebreaks }}</div>
                <div id="item-basic-description">{{ item_data.plaintext }}</div>
                <div id="item-tags">
                    <div id="item-tags-inner">
                        <div id="item-tags-icon">
                            <img src="{% static 'core/images/checkmark.png' %}" alt="checkmark icon"/>
                        </div>
                        <span id="item-tags-title">BENEFITS</span>
                        <div id="item-tags-list">
                            {% for value in item_data.tags %}
                                {% if 'Movement' in value %}
                                    <div class="item-tag">&#9632; {{ 'Movement Speed' }}</div>
                                {% else %}
                                    <div class="item-tag">&#9632; {{ value|space_after_capital }}</div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="item-stats">
                    <div id="item-stats-inner">
                        <div id="item-stats-icon">
                            <img src="{% static 'core/images/checkmark.png' %}" alt="checkmark icon"/>
                        </div>
                        <span id="item-stats-title">STATISTICS</span>
                        <div id="item-stats-description">{{ item_data.description|br_to_breakline|replace_tags|linebreaks }}</div>
                    </div>
                </div>
            </div>
            <!-- right side end -->
        </div>
        <!-- champion-container end -->
    </div>
{% endblock %}
