.item {
    border: 4px solid transparent;
    display: block;
    flex: 1 0 18%;
    text-align: center;
}

#item-basic-description {
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 38px auto 28px auto;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    max-width: 650px;
}

#item-container {
    display: flex;
}

#item-right {
    flex: 2;
    padding: 20px 15px 20px 5px;
}

#item-left {
    flex: 1;
    margin-top: 10px;
    padding-left: 10px;
}

#item-cost {
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 31px 0 30px 3px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.item-cost-title {
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
}

.item-cost {
    font-size: 1.1rem;
    padding: 2px 0;
}

.item-cost-flex {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 5px 0;
}

.item-cost-flex:nth-child(odd) {
    background: rgba(60, 60, 60, 0.2);
}

.item-cost-flex:nth-child(even) {
    background: rgba(60, 60, 60, 0.1);
}

.item-list-img {
    border: 2px solid #fbc02d;
    border-radius: 40px;
    margin-top: 20px;
    width: 120px;
}

.item-list-img:hover {
    border: 2px solid white;
}

#item-img-large {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 92px;
    width: 120px;
    -webkit-filter: contrast(120%) brightness(120%);
    filter: contrast(120%) brightness(120%);
}

#item-img-large:hover {
    cursor: crosshair;
}

#item-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#item-maps {
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 31px 0 30px 3px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.item-maps-title {
    display: block;
    font-weight: 800;
    margin-bottom: 10px;
}

.item-map {
    background: mediumseagreen;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px 0;
}

.item-maps-flex {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    padding: 2px 0;
}

.item-list-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
}

#item-name {
    color: #fbc02d;
    font-size: 3.0rem;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 800;
    margin: 20px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

#item-stats {
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    padding: 10px;
}

#item-stats-description {
    margin: 25px 20px 10px 15px;
    text-align: left;
}

#item-stats-inner {
    background: rgba(14, 14, 14, 1.0);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

#item-stats-icon {
    float: right;
}

#item-stats-icon > img {
    width: 30px;
}

#item-stats-title {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: #fbc02d;
    display: block;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2px 0 10px 0;
}

.item-tag {
    display: block;
}

#item-tags {
    background: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

#item-tags-list {
    margin: 25px 20px 10px 15px;
    text-align: left;
}

#item-tags-inner {
    background: rgba(14, 14, 14, 1.0);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}

#item-tags-icon {
    float: right;
}

#item-tags-icon > img {
    width: 30px;
}

#item-tags-title {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: #fbc02d;
    display: block;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 2px 0 10px 0;
}
