/* Tag List - Alphabetical */
html, body {
    background: #111111;
    color: #faf6ee;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    min-width: 100%;
}

a {
    color: #fbc02d;
    font-weight: 600;
    outline: none !important;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: white;
    font-weight: 800;
    text-decoration: none;
}

li {
    margin: 5px 0 0 0;
}

li > a {
    color: #fbc02d;
    font-weight: 600;
    text-transform: uppercase;
}

li > a:hover, a:focus, a:active {
    color: #faf6ee;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    padding-left: 10px;
    margin-left: 10px;
    list-style-type: square;
}

/* Class List - Alphabetical */
.bottom-footer {
    padding: 0 20px;
    margin-top: 20px;
    text-align: left;
}

.champion {
    border: 4px solid transparent;
    display: block;
    flex: 1 0 18%;
    text-align: center;
}

.champion:hover {
    background: #141414;
    border: 4px solid #fbc02d;
}

.champion-list-img {
    margin-top: 20px;
    width: 100px;
}

.champion-img-large {
    float: left;
}

.champion-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.champion-list-name {
    font-size: 0.9rem;
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
}

.champion-lore {
    margin-top: 25px;
}

.champion-name {
    color: #fbc02d;
    font-size: 2.0rem;
    font-weight: 800;
    margin: 10px 0 5px 0;
    text-align: center;
    text-transform: uppercase;
}

.champion-title {
    font-size: 0.9rem;
    text-align: center;
}

.dark-line {
    color: rgba(50, 50, 50, 0.4);
    font-weight: 800;
    padding: 5px 5px;
}

.footer {
    background: #080808;
    border-top: 2px solid #000;
    bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}

.footer > a {
    color: mediumseagreen;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    outline: none !important;
    text-decoration: none;
}

.footer > a:hover, a:focus, a:active {
    color: white;
    font-weight: 800;
}

.header-img {
    width: 100%;
    border-bottom: 2px solid #000;
}

.horizontal-line {
    background: rgba(50, 50, 50, 0.4);
    margin: 0 20px;
}

.main-section {
    background: #080808;
    border: 2px solid black;
    color: rgba(255, 255, 255, 0.9);
    flex: 1;
    font-weight: 600;
    margin: 20px auto 20px auto;
    min-width: 94vw;
    padding: 5px;
    height: fit-content;
    width: fit-content;
    max-width: 94%;
}

.nav-bar {
    background: #fbc02d;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    padding: 5px 10px;
    width: 100%
}

.nav-link {
    border: 2px dotted #080808;
    color: #080808;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 5px;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    background: #080808;
}

.no-bullet {
    list-style-type: none;
}

.riot-disclaimer {
    line-height: 1rem;
    padding: 10px 20px;
    text-align: left;
}

.sitemap {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.sitemap-left, .sitemap-center, .sitemap-right {
    flex: 1;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
